
  .section{
    padding: 50px 0;
  }
 ul {
  list-style: none; }

body {
  font-family: 'Montserrat', sans-serif; }

  .nav-top {
    border: 1px solid #ebebeb;
    background: #000;
    color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}
.main_header_info {
  margin-top: 10px;
  margin-left: 70px; }
  .main_header_info ul {
    justify-content: flex-end; }
  .main_header_info li {
    font-size: 14px;
    display: flex;
    padding: 0 20px;
    color: #ffff;
    align-items: center;
    font-weight: 400; }
    .main_header_info li i {
      margin: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 32px;
      font-weight: 500;
      color: #f0c7c3; }
    .main_header_info li span {
      position: relative; }
      .main_header_info li span::after {
        content: "|";
        position: absolute;
        left: -14px; }

.main_logo {
  padding: 22px 0; }
.nav-item {
  margin-right: 20px;
  text-transform: uppercase; }
  div#navbarNavDropdown {
    background: #000;
}


  .main_logo a,.nav_logo{
         font-size: 24px;
         font-weight: 600;
         text-transform: uppercase;
         color: #fff;
  }
  .main_logo a:hover{
    text-decoration: none;
  }
  .btn_main :hover{
    text-decoration: none;
  }
.nav-link {
  color: #000;
  padding: 20px 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  position: relative; }
  .nav-link:hover {
    color: #000; }
  .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color:#f0c7c3;
    bottom: 15px;
    left: 0;
    transition: linear 1s; }
  .nav-link:hover::after {
    width: 100%; }

.navbar-text a {
  color: #111;
  display: inline-block;
  font-size: 15px;
  margin-left: 15px; }

.droupdown {
  position: absolute;
  z-index: 5;
  background-color: wheat;
  display: none;
  left: 50px; }

.nav-item:hover > .droupdown {
  border: 4px; }

  /* banner-start */
  .carousel-indicators li{
      height: 14px;
      width: 14px;
      border-radius: 50%;
      display: none;
  }  
/* cates-section */
.cates_parant{ 
    display: flex;
}
.cates_inner{
  position: relative;
}
.cates_img{
    overflow: hidden;
    width: 45%;
    position: absolute;
    top: -100px;
    left: 0;
}
.cates_img img{
    width: 100%;
    height: 600px;
    object-fit: cover;
    overflow: hidden;
    transition: all 0.5s ease;
}
.cates_img img:hover{
    transform: scale(1.1);
}
.cetes_tag{
    font-size: 30px;
    line-height: 29px;
    font-weight: 100;
    letter-spacing: .2px;
    background: #000;
    color: #f0c7c3;
    padding: 6px 10px;
    display: inline-block;
    overflow: hidden;
    position: relative;
}
.cetes_subtitle{
    font-size: 30px;
    line-height: 35px;
    position: relative;
    font-weight: 500;
    letter-spacing: .2px;
    color: #000;
    margin-top: 15px;
}
.btn_main{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .6px;
    padding: 8px 25px;
    display: inline-block;
    border: 1px solid #f0c7c3;
    text-transform: uppercase;
    background: #f0c7c3;
    color: #000;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.btn_main:hover{
  background-color: #000;
  color: #fff;
}
.centes_info {
  position: absolute;
  right: 265px;
  top: 105px;
}
.cetes_subtitle::before{
     content: "";
     position: absolute;
     background-color: #000;
     height: 1px;
     width: 317px;
     left: -211px;
     bottom: -17px;
}
.cartes_right{
  right: 0;
}
/* img-sites */
.img_side{
  justify-content: space-around;
}
.img_side img{
  transition: all 0.5s ease;
}
.img_side img:hover{
  transform: scale(1.1);
}
/* products */
.uper_titile{
  text-align: center;
}
.uper_titile h2{
  position: relative;
  display: inline-block;
}
.uper_titile h2::before{
  content: "";
  position: absolute;
  bottom: -10px;
  background-color: #f0c7c3;
  height: 2px;
  width: 100%;
  left: 0;
}
.pick_inner img{
  width: 350px;
  height: 386px;
  object-fit: cover;
}
.pick_inner {
  text-align: center;
  position: relative;
}
.pick_info h2{
  text-transform: uppercase;
  font-size: 22px;
}
.pick_inner a {
  color: #000;
}
.pick_inner a:hover{
  text-decoration: none;
}
.pick_info:before{
  content: "";
  position: absolute;
  border: 2px solid #f0c7c3;
  width: 90%;
  height: 100%;
  left: 17px;
  top: 25px;
}
a:hover{
  text-decoration: none;
}
/* collection_section */
.collection_inner{
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.collection_left {
  background: #f3f3f3;
  padding: 116px 2px 0 40px;
  width: 39%;
}
.collection_left_info h3{
    color: #000;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
}
.collection_right{
  width: 57%;
}
.collection_right img{ 
  height: 430px;
    width: 100%;
    object-fit: cover;
}
.product_inner img{
  width: 100%;
}
.product_info a{
  font-family: 'FontAwesome';
    color: #000;
    font-weight: 500;
    font-size:18px;
    display: block;
  }
  .product_info a span{
    font-weight: 600;
  }
  .product_info ul {
    list-style: none;
    display: flex;
    padding: 0;
  }
  .product_info ul li{
          font-size: 18px;
          color: #f8ae00;
          margin-right: 8px;
  }
  .product_inner:hover .btn_main{
    background-color: #000;
    color: #fff;
    border: 1px solid #000;
  }
  /* offer_section */
  .offer_info h2{
    font-size: 22px;
    margin-bottom: 8px;
  }
  .offer_info h3{
    font-weight: normal;
    font-style: italic;
    text-transform: none;
    color: #888;
    font-size: 22px;
    transition: all 0.5s ease;
    margin-bottom: 0;
  }
  .offer_info{
    font-family: emoji;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .offer_inner{
    position: relative;
  }
  .offer_inner img{
    width: 100%;
  }
  .offer_inner:hover .offer_info h2{
     color: #f8ae00;
  }
  .offer_info2{
    bottom: 40px;
  }
  .offer_3{
    bottom: 40px;
  }
  /* brands */
/* footer */
.footer{
  width: 100%;
    background: #272727;
    padding: 50px 0;
}
.serice_content{
  position: relative;
    width: 100%;
    display: flex;
    overflow: hidden;
    text-align: left;
    background: #333;
    padding: 17px 20px;
}
.serice_content i{
  font-size: 50px;
  color: #fff;
}
.serice_content a {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 6px 20px;
}
.serice_content span{
  font-weight: 400;
}
.serice_content span:hover{
  color: #fff;
}
.service_info:hover .serice_content a{
  color: #f0c7c3;
}
.service_info:hover .serice_content i{
  color: #f0c7c3;
}
.footer_inner h3{
  font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 600;
}
.footer_list li a{
  color: #c4c4c4;
  font-size: 16px;
  padding: 8px 0;
  font-weight: 400;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
}
.footer_inner li a i{
  font-size: 20px;
    color: #f8ae00;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 37%;
}